@page
@model ServiceHost.Pages.ContactUsModel
@{
    ViewData["Title"] = "ارتباط با ما";
    ViewData["MetaDescription"] = "ارتباط با ما";
    ViewData["KeyWord"] = "ارتباط با ما";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper">
                    <img class="breadcrumb-img" src="/MainTheme/img/backgrounds/default.jpg" alt="pattern" title="pattern" />
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ارتباط با ما</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="../">صفحه اصلی</a>
                            </li>
                            <li class="active">ارتباط با ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content-area mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <div class="col-md-6 col-12 h5">
                                @Html.Raw(Model.Info.Description)
                            </div>

                            <div class="col-md-6 col-12">
                                <form method="post">

                                    <div class="login-form">
                                        <h4 class="login-title">ارسال پیغام</h4>

                                        <div class="row">

                                            <div class="col-md-6 col-12 mb-20">
                                                <label asp-for="Command.Name"></label>
                                                <input asp-for="Command.Name">
                                                <span asp-validation-for="Command.Name" class="text-danger"></span>
                                            </div>

                                            <div class="col-md-6 col-12 mb-20">
                                                <label asp-for="Command.Email"></label>
                                                <input asp-for="Command.Email" class="ltr">
                                                <span asp-validation-for="Command.Email" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 mb-20">
                                                <label asp-for="Command.Message"></label>
                                                <textarea asp-for="Command.Message" class="w-100 h-100" rows="3"></textarea>
                                                <span asp-validation-for="Command.Message" class="text-danger"></span>
                                            </div>


                                            <div class="col-12 mt-5">
                                                <button type="submit" class="register-button mt-0">ارسال</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="col-12 mt-5">
                                @Html.Raw(Model.Info.Location)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Meta
{
    <link rel="stylesheet" href="~/lib/sweet-alert/sweet-alert.min.css"/>
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/sweet-alert/sweet-alert.min.js"></script>

    @if (!string.IsNullOrWhiteSpace(Model.ResultMessage))
    {
        @if (Model.StatusMessage)
        {
            <script>
                swal("پیغام شما ارسال شد", "@Model.ResultMessage", "success");
            </script>
        }
        else
        {
            <script>
                swal("خطا", "@Model.ResultMessage", "error")
            </script>
        }
    }
}