@page
@model ServiceHost.Pages.PayResultModel
@{
    ViewData["Title"] = "نتیخه خرید";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper">
                    <img class="breadcrumb-img" src="/MainTheme/img/backgrounds/default.jpg" alt="pattern" title="pattern" />
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">نتیخه خرید</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li class="active">نتیخه خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    @if (Model.Status)
                    {
                    <div class="alert alert-success">
                        <i class="fa fa-2x fa-check"></i>
                        خرید شما با موفقیت انجام شد
                        <br />
                        همکاران ما به زودی برای دریافت اطلاعات تکمیلی با شما تماس خواهند گرفت
                        <br />
                        کد پیگیری شما : @Model.IssueTrackingNo
                    </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <i class="fa fa-2x fa-warning"></i>
                            <strong>خرید ناموفق.</strong> در صورت کسر وجه از حساب شما,تا 24 ساعت آیند وجه به حساب شما باز گردانده می شود.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
