@using AccountManagement.Configuration.Permission
@model AccountManagement.Application.Contract.Role.CreateRole

<form asp-page="./Index" asp-page-handler="Create" permission="@AccountPermissions.CreateRole"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">ایجاد نقش کاربری</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="error"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="Permission" class="control-label"></label>
                <select asp-for="Permission" asp-items="Model.Permissions" multiple="multiple" class="multi-select">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                نکات مهم
                <ul>
                    <li>برای این که کاربر به پنل مدیریت سایت دسترسی داشته باشد حتما باید دستری 'پنل مدیریت سایت' به اون داده شود در غیر این صورت نمی تواند وارد این بخش شود</li>
                    <li>برای دسترسی کاربر به هر بخش ابتدا دسترسی اصلی  ان بخش را به او بدهید در غیر این صورت نمی تواند وارد ان بخش شود برا مثال : برای بخش محصولات حتما باید دسترسی بخش 'مدیریت محصولات' داده شود</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">لغو</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>

</form>