@using ShopManagement.Configuration.Permission
@model ShopManagement.Application.Contract.ProductCategory.CreateProductCategory

<form asp-page="./Index" asp-page-handler="Create" permission="@ShopPermissions.CreateProductCategory"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">ایجاد گروه محصولات</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="error"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Keyword" class="control-label"></label>
                    <input asp-for="Keyword" class="form-control tagInput">
                    <span asp-validation-for="Keyword" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" accept="image/*">
                <span asp-validation-for="Image" class="error"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ImageAlt" class="control-label"></label>
                    <input asp-for="ImageAlt" class="form-control">
                    <span asp-validation-for="ImageAlt" class="error"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ImageTitle" class="control-label"></label>
                    <input asp-for="ImageTitle" class="form-control">
                    <span asp-validation-for="ImageTitle" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3" onkeyup="fillField('Description', 'MetaDescription')"></textarea>
                <span asp-validation-for="Description" class="error"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="MetaDescription" class="control-label"></label>
                <textarea asp-for="MetaDescription" class="form-control" rows="3"></textarea>
                <span asp-validation-for="MetaDescription" class="error"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                نکات مهم
                <ul>
                    <li>برای SEO بهتر سایت حتما از کلمات کلیدی مناسب و توضیحات متا خوبی استفاده کنید.</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">لغو</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>

</form>