@using AccountManagement.Configuration.Permission
@model AccountManagement.Application.Contract.Account.ChangePasswordAccount


<form asp-page="./Index" asp-page-handler="ChangePassword" permission="@AccountPermissions.ChangePasswordAccount"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">ویرایش رمز عبور حساب</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control ltr">
                    <span asp-validation-for="NewPassword" class="error"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="RePassword" class="control-label"></label>
                    <input asp-for="RePassword" class="form-control ltr">
                    <span asp-validation-for="RePassword" class="error"></span>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="Id">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">لغو</button>
        <button type="submit" class="btn btn-pink waves-effect waves-light">ویرایش</button>
    </div>

</form>