@using DiscountManagement.Configuration.Permission
@model DiscountManagement.Application.Contract.ColleagueDiscount.EditColleagueDiscount

<form asp-page="./Index" asp-page-handler="Edit" permission="@DiscountPermissions.EditColleagueDiscount"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">ویرایش تخفیف همکاران</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"></label>
                    <select asp-for="ProductId" asp-items='new SelectList(Model.Products, "Id", "Name")'>
                        <option value="0">محصولات</option>
                    </select>
                    <span asp-validation-for="ProductId" class="error"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DiscountRate" class="control-label"></label>
                    <input asp-for="DiscountRate" class="form-control text-left"  min="1" max="100">
                    <span asp-validation-for="DiscountRate" class="error"></span>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="Id">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">لغو</button>
        <button type="submit" class="btn btn-pink waves-effect waves-light">ویرایش</button>
    </div>

</form>