<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>فروشگاه پدیکالا | @ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="keywords" content="@ViewData["KeyWord"]">
    <!-- Vendor CSS -->
    <link href="~/MainTheme/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="~/MainTheme/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/MainTheme/css/Custom.css" rel="stylesheet">

    @await RenderSectionAsync("Meta", required: false)

</head>

<body>

@await Component.InvokeAsync("Header");

@RenderBody()

<!--====================  footer area ====================-->
<div class="footer-area">
    <div class="footer-copyright">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright-wrapper footer-copyright-wrapper--default-footer">
                        <div class="container">
                            <div class="row align-items-center no-gutters">

                                <div class="col-12">

                                    <div class="copyright-text">
                                        تمامیه حقوق مادی و معنوی این سایت مطعلق به پدرام اسدی پور می باشد
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of footer area  ====================-->






<!-- scroll to top  -->
<div id="scroll-top">
    <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Vendor JS -->
<script src="~/MainTheme/js/vendors.js"></script>

<!-- Active JS -->
<script src="~/MainTheme/js/active.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="~/lib/sweet-alert/sweet-alert.min.js"></script>

<script src="~/MainTheme/js/plugins.js"></script>

<script src="~/MainTheme/js/custome.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>

</html>