@using InventoryManagement.Configuration.Permission
@model InventoryManagement.Application.Contract.Inventory.EditInventory

<form asp-page="./Index" asp-page-handler="Edit" permission="@InventoryPermissions.EditInventory"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">ویرایش انبار</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="ProductId" asp-items='new SelectList(Model.Products, "Id", "Name")'>
                    <option value="0">محصولات</option>
                </select>
                <span asp-validation-for="ProductId" class="error"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input type="number" min="0" asp-for="UnitPrice" class="form-control ltr"/>
                <span asp-validation-for="UnitPrice" class="error"></span>
            </div>
        </div>

        <input type="hidden" asp-for="Id">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">لغو</button>
        <button type="submit" class="btn btn-pink waves-effect waves-light">ویرایش</button>
    </div>

</form>