@using InventoryManagement.Configuration.Permission
@model InventoryManagement.Application.Contract.Inventory.IncreaseInventory

<form asp-page="./Index" asp-page-handler="Increase" permission="@InventoryPermissions.IncreaseInventory"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">افزایش موجودی</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input type="number" min="0" asp-for="Count" class="form-control ltr" />
                <span asp-validation-for="Count" class="error"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="error"></span>
            </div>
        </div>

        <input type="hidden" asp-for="InventoryId">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">لغو</button>
        <button type="submit" class="btn btn-success waves-effect waves-light">افزایش</button>
    </div>

</form>